/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--tg-theme-bg-color, #f5f5f5);
  color: var(--tg-theme-text-color, #333);
}

#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 105%;
  margin-bottom: 2rem;
}

.tutorial-button {
  background-color: var(--tg-button-color, #4CAF50);
  color: var(--tg-button-text-color, white);
  padding: 0.685rem 1.05rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;

}

.tutorial-button:hover,
.tutorial-button:focus {
  transform: scale(1.02); /* Increase size by 10% */
  background-color: #45a049; /* Darken background color on hover/focus */
}

.content {
  width: 100%;
}

.card {
  background: var(--tg-theme-secondary-bg-color, white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  margin-bottom: 1.5rem;
  padding: 1.75rem;
  text-align: left;
}

.card:hover {
  transform: translateY(0.5px);
}

.info-item p {
  font-size: 1.1rem;
  color: var(--tg-theme-heading-color, #333);
  margin-bottom: 0.2rem;
}

.info-item strong {
  font-weight: bold;
  color: var(--tg-theme-heading-color, #007BFF);
}

.hint {
  font-size: 1rem;
  color:var(--tg-theme-text-color, #555);
}

.bet-section {
  margin-bottom: 1.5rem;
}

.bet-label {
  font-weight: 800;
  color: var(--tg-theme-text-color, #333);
  margin-right: 0.75rem;
}

.bet-section input {
  width: 90px;
  padding: 0.45rem;
  font-size: 1rem;
  border-radius: 45px;
  border: 0.4px solid rgba(160, 160, 161, 0.18);
  outline: none;
  text-align: center;
  color: black;
  background-color: #f9f9f9;
  box-shadow: -1.5px 2.5px 5px rgba(0, 0, 0, 0.35)
}

.bet-input.invalid {
  border-color: rgba(255, 77, 79, 0.27);
  box-shadow: -1.5px 2.5px 5px rgba(255, 77, 79, 0.62);
}

.error-message {
  color: #ff4d4f;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.45rem;
  background-color: rgba(218, 6, 6, 0.09);
  display: block;
}

/* Remove the default number input arrows */
.bet-section input::-webkit-outer-spin-button,
.bet-section input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in number input fields across different browsers */
.bet-section input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.action-button {
  flex: 1;
  background-color: var(--tg-button-color, #007BFF);
  color: var(--tg-button-text-color, white);
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  font-weight: bold;
}

.action-button:hover {
  background-color: var(--tg-button-hover-color, #0069d9);
  transform: translateY(-3px);
}

.action-button:active {
  transform: translateY(0);
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark-mode .action-button {
  background-color: #bb86fc;
}

body.dark-mode .action-button:hover {
  background-color: #985eff;
}

body.dark-mode .bet-section input {
  color: black;
}

body.dark-mode .info-item p {
  color: white;
}

body.dark-mode .info-item strong {
  font-weight: bold;
  color: #bb86fc;
}
